@use 'helpers' as *;

:root{
    --color-white: #ffffff;
    --color-white-opacity-80: rgba(255, 255, 255, 0.8);
    --color-white-opacity-70: rgba(255, 255, 255, 0.7);
    --color-white-opacity-60: rgba(255, 255, 255, 0.6);
    --color-white-opacity-40: rgba(255, 255, 255, 0.4);
    --color-white-opacity-10: rgba(255, 255, 255, 0.1);

    --color-dark: #202020;
    --color-dark-opacity-50: rgba(32, 32, 32, 0.5);
    --color-dark-opacity-40: rgba(32, 32, 32, 0.4);
    --color-dark-opacity-30: rgba(32, 32, 32, 0.3);
    --color-dark-opacity-10: rgba(32, 32, 32, 0.1);

    --color-gray: #7B7B7B;
    --color-light-gray: #F4F4F4;
    --color-light-gray-20: #E5E5E5;

    --color-red: #F4371C;
    --color-red-opacity-10: rgba(244, 57, 28, 0.1);
    --color-green-opacity-10: rgba(91, 206, 137, 0.1);

    --border: #{rem(1) solid var(--color-light-gray)};

    --container-width: #{rem(1570)};
    --container-padding-x: #{rem(15)};

    --transition-duration: 0.2s;

    --font-family-base: 'Helvetica Neue', sans-serif;
    --font-family-dop: 'Onest', sans-serif;
} 